body {
    background-color: lightgray;

}

#app {
    border: 1px solid black;
    position: absolute;
    text-align: center;
    background-image: url("Bilder/notebook.jpg");
    background-size: cover;
    opacity: 0.9;
    filter: none(opacity=90);
    height: 500px;
    width: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}
#alternativ {
    position: relative;
    width: 100%;
    left: -0%;
    top: 45%;

}
#knapp1, #knapp2, #knapp3{
    border: 2px solid darkgrey;
    height: 50px;
    margin-bottom: 3px;
    background-color: grey;
    opacity: 0.8;
    filter: alpha(opacity=80);
}


div > h1{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}

#btnNext {
    background-color: grey;
    border-radius: 90px 0 0 90px;
    border: none;
    height: 50px;
    width: 35px;
    transform: translate(331px, -120%);
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    opacity: 0.8;
    filter: alpha(opacity=80);

}


#divTeller {
    transform: translate(650px, -640%);
    border-radius: 35px;
    height: 40px;
    width: 40px;
    background-color: grey;
    border: 1px solid darkgrey;
    font-size: 22px;
}







